#Form {
            border: 2px solid black;
            width: 300px;
            padding: 15px;
            margin: 20px auto;
            background-color: lightgrey;
        }
        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
            padding: 5px;
        }

        #b {
            margin-top: 10px;
            padding: 8px;
            width: 100%;
            background-color: lightblue;
            font-size: 15px;
            cursor: pointer;
        }

        .delete-btn {
            background-color: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
